<br>
<div class="jumbotron">
  <h1>Bloccit</h1>
  <p>Bloccit is a resource for sharing links with your friends!</p>
  <% if current_user.nil? %>
    <p>
      <%= link_to "Sign In", new_session_path %> or
      <%= link_to "Sign Up", new_user_path, class: 'btn btn-primary' %> today!
    </p>
  <% end %>
</div>

<div class="row">
  <div class="col-md-4">
    <h2>Improve your confidence</h2>
    <p>Sharing your thoughts with others will make you think you're smarter than you actually are!</p>
  </div>
  <div class="col-md-4">
    <h2>Let your opinion be known</h2>
    <p>Upvote the things you agree with and downvote the things you don't.</p>
  </div>
  <div class="col-md-4">
    <h2>Learn exciting new things</h2>
    <p>Make up for all those things your parents never taught you</p>
  </div>
</div>
